a:link {
  color: rgb(0, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(102, 180, 216);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(234, 0, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}