body {
  background-color: rgba(33, 21, 89);

  display: flex;


  align-items: center;

  flex-direction: column;

	height: 98vh;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	
/*     position: relative */
}

header {
  margin: 0 0;
  width: 100%;
  background-color: rgba(72, 50, 168);
  color: white;
  border-radius: 8px;

	margin-bottom: 10px;

	flex: 1;
}
header > h1 {
  margin-left: 10px;
}

p {
  margin-left: 10px;
  margin-top: 5px;
}
h3 {
  margin: 10px;
}


.optionsbox {
  color: white;
  border-radius: 8px;
  background-color: rgb(138, 106, 253);
  flex: 1;
  min-width: 180px;
}

#appcontainer {
	display: flex;
	flex-direction: column;

	width: 100%;

	max-width: 1300px;

	
	flex: 6;
}


#settingspanel {
  display: flex;

	flex: 2;

  justify-content: space-around;

  align-items: stretch;
	
	flex-wrap: wrap;

	gap: 10px;
}

#dicedesign {
  display: flex;

  flex-direction: column;

  background: rgb(149, 149, 255);

  width: 400px;

	min-width: 300px;

}

#dicedesign > div {
  flex: 1;
  background-color: rgb(255, 150, 232);
  
  margin: 10px;

  justify-content: space-between;

  border-radius: 5px;

  color: white;
}

#row1 {
  display: flex;
}
#row2 {
  display: flex;
}
#row3 {
  display: flex;
  justify-content: space-evenly;
}

#outputBox {
  border-radius: 8px;
  background-color: blueviolet;
  color: aliceblue;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

	flex: 5;

  word-wrap: break-word;
  overflow-y: scroll;
}

footer {
/* 	position: absolute; */
  width: 100%;
  background-color: rgba(72, 50, 168);
  color: white;
  border-radius: 8px;
  height: auto;

	flex: 1;

/* 	bottom: 0px; */
}

footer > h4 {
  margin-left: 10px;
}
footer > div {
  margin-left: 10px;
}