#presetOptions {
	background-color: rgb(138, 106, 253);

	flex: 1;
	color: aliceblue;


    display: flex;
    flex-direction: column;

    min-width: 100px;

    height: 100%;
    max-height: 100%;
}

#presetItemContainer {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    padding: 10px;

    gap: 10px;

    flex: 1;
    
	word-wrap: break-word;
	overflow-y: auto;

    overflow-x: hidden;

	flex-basis: 0px;
}

.presetItemTitle {
    flex: 1;


    /* bandaid solution to the buttons overflowing */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    min-height: 25px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

.presetItem {
    display: flex;
    flex-direction: column;

    width: 100%;

    min-height: 10%;

    border: none;
    border-radius: 8px;

    color: aliceblue;
    background-color: rgb(255, 20, 235);

}

.savedPreset {
    flex-basis: 100px;
    min-height: 100px;
}

.presetItemButton {
    margin: 10px;
    flex: 2;
    margin-top: 0px;
}

#addPresetContainer {
    background-color: rgb(201, 4, 191);
    width: calc(100% - 20px);

    margin: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    justify-content: center;
}

.addPresetInput {
    width: calc(100%-20px);
    margin: 10px;
}