body {
  	background-color: rgba(33, 21, 89);

  	display: flex;

	gap: 10px;

  	align-items: center;

  	flex-direction: column;

	height: 98vh;

  	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  	margin: 0 0;
  	width: 100%;
  	background-color: rgba(72, 50, 168);
  	color: white;
  	border-radius: 8px;

	display: flex;

  	justify-content: space-around;

  	flex-direction: column;

	flex: 1;
	
	min-height: 100px;

	overflow: hidden;
}
header > h1 {
  	margin: 10px;
	text-overflow:ellipsis;

	max-width: 100%;
	max-height: 100%;
}

p {
  	margin-left: 10px;
  	margin-top: 5px;
}
h3 {
  	margin: 10px;
	text-align: center;
}


.optionsbox {
  	display: flex;
  	flex-direction: column;
	
  	color: white;
  	border-radius: 8px;
  	background-color: rgb(138, 106, 253);
  	flex: 1;
  	min-width: 250px;
}

#diceactions {
	flex: 1;
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;

	gap: 10px;

/* 	flex: 1; */
  	background-color: rgb(255, 150, 232);
  
  	margin: 10px;
	margin-top: 0px;

  	justify-content: space-between;

  	border-radius: 5px;

  	color: white;
}
.form-group-column {
	display: flex;
  	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;

	gap: 10px;

/* 	flex: 1; */
  	background-color: rgb(255, 150, 232);
  
  	margin: 10px;
	margin-top: 0px;

  	justify-content: space-between;

  	border-radius: 5px;

  	color: white;
}
.form-group-input-big {
	flex: 2;

	max-width: 100%;
}
.form-group-label-small {
	flex: 1;
}

.form-group-input-small {
	flex: 1;
}
.form-group-label-big {
	flex: 2;
}

#customCount {
}

#appcontainer {
	display: flex;
	width: 100%;

	max-width: 1300px;

	gap: 10px;
	
	flex: 6;
}

#dicegui {
	display: flex;
	flex-direction: column;
	height: 100%;

	gap: 10px;

	/* flex-basis: 10%; */

	flex: 4;
}



#settingspanel {
	display: flex;

	flex: 2;

  	justify-content: space-around;

  	align-items: stretch;
	
	flex-wrap: wrap;

	gap: 10px;
}

#dicedesign {
  	background: rgb(149, 149, 255);
}

#dicedesign-buttons {
/*   	justify-content: space-between; */
}

.designrow {
  	display: flex;
}

#outputBox {
  	border-radius: 8px;
  	background-color: blueviolet;
  	color: aliceblue;
  	width: 100%;

	flex: 5;

	min-height: 100px;

    word-break:break-all;
	overflow-y: auto;
	overflow-x: hidden;

	flex-basis: 0;
}


#diceactionscontainer {
	width: calc(100% - 20px);
	display: flex;
	gap: 10px;
	margin: 10px;
	margin-top: 0;
}
.diceActionItem {
	flex: 1;
	height: 30px;
}


footer {
/* 	position: absolute; */
  	width: 100%;
  	background-color: rgba(72, 50, 168);
  	color: white;
  	border-radius: 8px;
  	height: auto;

	flex: 1;
}

footer > h4 {
  	margin-left: 10px;
}
footer > div {
  	margin-left: 10px;
}